<link href="styles/style.css" rel="stylesheet">
body {
  font-family: "Avenir Next";
}

li {
  font-size: 25px;
  list-style: none;
  font-color: black;
}

.btn {
  padding: 24px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
}

.header {
  background-color: green;
  height: 100px;
}

.header-logo {
  font-size: 36px;
  float: left;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  padding: 100px 100px;
  background-color: #FFFF00;
  color: #cccccc;
}

.copy-container h1 {
  font-size: 40px;
}

h2{
  font-size:300%;
  color: #00008B;
}

.copy-container span {
  color: #ff4a4a;
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.contents {
  height: 1000px;
  margin-top: 200px;
}

.section-title {
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contents-item {
  float: left;
  margin-right: 40px;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}
